.gameover {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.gameover__text {
    margin-top: 10%;
}
.score {
    position: absolute;
    right: 10%;
    color: white;
}